html, body {
  background-color: rgb(251, 238, 209);
  margin: 0px;
  padding: 0px;
}

.text-container {
  position: absolute;
  width: 60%;
  margin-left: 20%;
  margin-top: 5%;
}

.title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 28px;
  color: rgb(189, 56, 27);
  line-height: 1.4;
  text-align: center;
}

.message {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  color: black;
  line-height: 1.4;
  text-align:justify;
}

.next-page {
  position: absolute;
  width: 18%;
  height: 10%;
  top: 210%;
  left: 80%;
}

a:link, a:visited {
  color: rgb(189, 56, 27);
  text-decoration-line:none;
  font-weight: 600;
  font-style: normal;
}

a:hover, a:active {
  color:rgba(189, 56, 27, 0.5);
  text-decoration-line: underline;
  font-style: bold;

}
