html, body {
  margin: 0px;
  body: 0px;
  /* background-color: rgb(213, 245, 253);
  background-color: rgb(255, 242, 213); */
  background-color: white;
}

.bg-image-container {
  position: absolute;
  width: 100%;
}

.photo {
  width: 100%;
}
.title {
  position: absolute;
  text-align: center;
  top: 35%;
  width: 65%;
  left: 17.5%;
  color: white;
  font-size: 100px;
  font-style: italic;
  font-family: 'Playfair Display', sans;
  font-weight: 600;
  background-color: rgba(200, 141, 19, 0.7);
  border-radius: 20px;
}

.main {
  min-width: 800px;
  max-width: 400px;
  position: absolute;
  left: 20%;
  top: 114%;
}

.entries {
  position: absolute;
  background-color: white;
  overflow: scroll;
  border-color: rgb(226, 185, 59);
  border-style: solid;
  border-width: 3px;
  border-left-style: solid;
  border-left-width: 20px;
  color: 'black';
  margin: auto;
  width: 70%;
  height: 70%;
  left: 15%;
}

#box1 {
  top: 100%;
  display: none;
}

#box2 {
  top: 170%;
  display: none;
}

#box3 {
  top: 120%;
  display: none;
}
#box4 {
  top: 200%;
  display: none;
}
.expandedtext {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  line-height: 1.75em;
  padding: 30px;
}

p {
  font-size: 1em;
  line-height: 1.75em;
  border-top: 3px solid;
  border-image: linear-gradient(to right, rgb(183, 215, 223) 0%, rgb(40, 39, 71) 100%);
  font-family: 'Josefin Sans', sans-serif;
  color: 'black';
  font-size: 24px;
  text-align: center;
  border-image-slice: 1;
  border-width: 3px;
  margin: 0;
  padding: 40px;
  counter-increment: section;
  position: relative;

  /* numbers */
  &:before {
    content: counter(section);
    position: absolute;
    border-radius: 50%;
    padding: 10px;
    height: 1.25em;
    width: 1.25em;
    background-color: $black;
    text-align: center;
    line-height: 1.25em;
    color: $white;
    font-size: 1em;
  }
}
/* odd number borders */
p:nth-child(odd) {
  border-right: 3px solid;
  padding-left: 0;

  &:before {
    left: 100%;
    margin-left: -20px;
  }
}
/*even number borders*/
p:nth-child(even) {
  border-left: 3px solid;
  padding-right: 0;

  &:before {
    right: 100%;
    margin-right: -20px;
  }
}
/*handle first and last*/
p:first-child {
  border-top: 0;
  border-top-right-radius:0;
  border-top-left-radius:0;
}
p:last-child {
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}

.open {
  width: 80px;
  height: 40px;
  left: 73%;
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
  position: absolute;
  display: block;
  border: none;
  background-color: rgb(226, 185, 59);
}

.close {
  position: absolute;
  font-size: 20px;
  color: rgba(0,0,0,0,5);
  width: 30px;
  height: 30px;
  left: 83.5%;
  display: none;
  border: none;
  background-color: rgba(0,0,0,0);

}
#openbutton1 {
  top: 131%;
}

#openbutton2 {
  top: 208.5%;
}

#openbutton3 {
  top: 167%;
}

#openbutton4{
  top: 244%;
}

#closebutton1 {
  top: 101%;
  display: none;
}

#closebutton2 {
  top: 172%;
  display: none;
}

#closebutton3 {
  display: none;
  top: 122%;
}
#closebutton4{
  top: 201%;
  display: none;
}

.gradient {
  background-image: linear-gradient(180deg, #FFFFFF, #99B0B9, #0A0029);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 325%;
}

.line{
  position: absolute;
  background-color: 'black';
  left: 79.5%;
  width: 10%;
  height: 102%;
  top: 322%;
  border-left: 3px solid;
  border-image: linear-gradient(180deg, rgb(40, 39, 71), rgb(10, 9, 41));
  border-image-slice: 1;
}

.sketch-container {
  position: absolute;
  top: 400%;
  position: absolute;
  margin-right: 100px;
}


.game-title {
  position: absolute;
  background: rgba(0,0,0,0);
  width: 100%;
  height: 20%;
  top: 10%;
  text-align: center;
  font-size:45px;
  font-family: 'Press Start 2P', cursive;
  color: white;
}

.instructions {
  background: rgba(0, 0, 0,0);
  font-size: 20px;
  text-align: left;
  color: white;
  line-height: 1.5;
  width: 80%;
  height: 100%;
  font-family: 'Press Start 2P', cursive;
  /* overflow: normal; */
  border-right: .15em solid white;
  white-space: nowrap;
  /* animation:
    typing 3s steps(100, end) forwards,
    blink .8s infinite; */
  width: 100%;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
  from {height: 0}
  to {height: 100%}
}

@keyframes blink {
  from { border-color: transparent }
  to { border-color: white; }
}

/* .typing-container{
  display: inline-block;
  position: absolute;
  width: 100%;
} */

.slider-item {
  /*transition: transform 0.7s ease-in-out;*/
  width: 80%;
  left: 10%;
  display: flex;
  flex-basis: column wrap;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 70%;
  top: 15%;
  background-color: rgba(0, 0, 0, 0);
}

.slide {
  display: none;
}

.carousel {
  position: absolute;
  align-items:center;
  width: 90%;
  left: 5%;
  height: 30%;
  margin: 0px;
  padding: 0px;
  top: 65%;
}

.next {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 100%;
  margin-top: -50px;
  width: 70px;
  height: 20px;
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
  text-align: center;
  padding-top: 10px;
  padding-left: 10px;
  right: 250px;
  border: 3px solid white;
}


.next:hover {
  opacity: 0.7
}
