html, body {
  background-color:rgb(122, 141, 93);
  margin: 0px;
  padding:0px;
}
/*top of page: image, large text box */
#background-photo-containter {
  position: absolute;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.bg-photo {
  width: 100%;
}

.title {
  position: absolute;
  width: 100%;
  left: 4%;
  /* color: rgb(243, 165, 68); */
  color: rgb(181, 75, 67);
  font-family: 'Playfair Display', serif;
  font-size: 150px;
  font-weight: 600;
}

.pronunciation {
  position: absolute;
  color: rgb(243, 165, 68);
  color: black;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 70px;
  left: 4%;
  top: 5%;
}

.pos {
  position: absolute;
  top: 40%;
  left: 3%;
  font-size: 40px;
  font-family: 'Josefin Sans', sans-serif;
  color: black;

}

.definitions {
  position: absolute;
  width: 90%;
  left: 8%;
  top: 50%;
  font-size: 30px;
  font-family: 'Playfair Display', sans;
  color: black;
  line-height: 1.8;

}

.text {
  position: absolute;
  text-align: center;
  width: 85%;
  left: 7.5%;
  top: 52%;
  font-size: 30px;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  line-height: 1.3;
}

.line {
  position: absolute;
  width: 100%;
  top: 110%;
  border-color: rgb(243, 165, 68);
}

.text-container {
  position: absolute;
  width:  100%;
  top: 75%;
  height: 80%;
}
.title-container {
  position: absolute;
  width: 50%;
  top: 5%;
  height: 30%;
  left: 2%;
}
canvas {
  z-index: -1;
  display: block;
  position: absolute;
  top: 179.8%;
  padding: 0px;
  margin: 0px;
  width: 100%;
}
#def-container {
  position: absolute;
  width: 90%;
  top: 35%;
  left: 5%;
  height: 40%;
  color: rgb(255, 255 255);
}

.entries-container {
  position: absolute;
  top: 194.8%;
  padding: 0px;
  margin: 0px;
  width: 100%;
  animation:
    fadeIn 2s, infinite;
}

.entries {
  position: absolute;
  width: 30%;
  height: 40%;
  overflow: scroll;
  margin: 0px;
  padding: 20px;
  font-size: 22px;
  font-family: 'Josefin Sans', sans-serif;
  background-color: rgba(92, 111, 63, 0.7);
  border-radius: 15px; 
  color: white;
  opacity: 0;
  transform: translate(0,40px);
  transition: opacity 3s, transform 2s;
}


#definitions {
  top: 160%;
  left: 5%;
}

#relationships {
  top: 190%;
  right: 5%;
}

#ancestry {
  top: 250%;
  left: 15%;
}

#wishes {
  top: 310%;
  right: 10%;
}

#anectodes {
  top: 360%;
  left: 8%;
}

.next-chapter {
  z-index:1;
  position: absolute;
  width: 20%;
  top: 430%;
  right: 10%;
  margin: 0px;
  padding: 20px;
  font-size: 30px;
  font-family: 'Josefin Sans', sans-serif;
  font-style: italic;
  text-align: center;
  color: white;
}


a:link, a:visited, a:hover, a:active {
  color: white;
  text-decoration: none;
}
