html, body {
  background-color: rgb(79%, 82%, 74%);
  margin:0;
  padding: 0;
}

canvas {
  display: block;
  position: absolute;
  padding: 0px;
  margin: 0px;
  left: calc(50% - 375px);
  top: 120px;
}

#plant1{
  position: absolute;
  padding: 0px;
  margin: 0px;
  left: 20px;
  width: 20%;
}

#plant2 {
  position: absolute;
  padding: 0px;
  margin: 0px;
  right: 20px;
  width: 20%;
}

p{
  text-align: center;
  font-size: 60px;
  font-family: 'Liu Jian Mao Cao', cursive;
}

.title {
  position: absolute;
  width: 700px;
  height: 100px;
  margin: auto;
  left: 150px;
  padding-top: 5px; 
  text-align: center;
}
