body {
  background-color: white;
}

.box {
  background-color: pink;
  width: 200px
  height: 200px
}
.title {
  font-size: 40;
  font-family: sans-serif;
  background-color: white;
}

.description{
  font-size: 50;
  font-family: georgia cursive;
  background-color: white;
}
