html, body {
  background-color: rgb(255, 242, 213);
  margin: 0px;
  padding:0px;
}
/*top of page: image, large text box */
#background-photo-containter {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.bg-photo {
  width: 100%;
}

#title {
  width: 70%;
  position: absolute;
  /* color: rgb(243, 165, 68); */
  color: rgba(255, 242, 213, 1);
  top: 15%;
  left: 5%;
  font-family: 'Playfair Display', serif;
  font-size: 100px;
  font-weight: 600;
  font-style: italic;
  line-height: 1;
}

#text-panel {
  width: 52%;
  height: 170%;
  position: absolute;
  top: 10%;
  right: 3%;
  /* background-color: rgba(255, 242, 213, 0.5); */
  backdrop-filter: blur(5px);
}
.text {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  font-size: 25px;
  text-align: left;
  padding: 10px;
  margin-left: 5%;
  line-height: 1.4;
}

/*elements on the slideshow */
.info {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  font-style: italic;
  text-align: right;
  font-weight: 400;
  color: white;
  width: 80%;
  right: 10%;
  /*color: rgb(219, 149, 145);*/
  /* color: rgb(100, 154, 139); */
  margin: 0px;
  margin-top: 30px;
  padding: 0px;
}

.story {
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  font-weight: 400;
  color: white;
  margin: 0px;
  line-height: 1.5;
  width: 80%;
  left: 10%;
  text-align: justify;
}

.orphanage {
    width: 100%;
    margin: 0px;
    padding: 0px;
    /*-height: 30em;*/

    background-attachment: fixed;
    background-position: center center;
    object-fit: cover;
}

.box {
  display: absolute;
  height: 70%;
  top: 15%;
  width: 80%;
  left: 10%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.7s ease-in-out;
  display: flex;
  flex-basis: column wrap;
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.slider-item {
  transition: 0.7s ease-in-out;
  display: flex;
  flex-basis: column wrap;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 70%;
  top: 15%;
  width: 80%;
  left: 10%;
  flex-direction: column;
}

.slide {
  display: none;
}

.carousel {
  position: absolute;
  flex-basis: column wrap;
  align-items:center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

.prev, .next {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 50%;
  margin-top: -50px;
  width: 30px;
  height: 30px;
}

.next {
  right: 70px;
  border-bottom: 6px solid white;
  border-right: 6px solid white ;
  transform: rotate(-45deg);
  transition: right 0.5s;
}

.prev {
  left: 70px;
  border-bottom: 6px solid white;
  border-left: 6px solid white;
  transform: rotate(45deg);
  transition: left 0.5s;
}

.next:hover {
  right: 55px;
}

.prev:hover {
  left: 55px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  margin: 0 10px;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s;
}

.dot-container{
  display: flex;
  flex-basis: row wrap;
  position: relative;
  justify-content: center;
  width: 100%;
  bottom: 6em;
}

.active, .dot:hover {
  opacity: 1;
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: 0.4}
  to {opacity: 1}

}

.chapter {
  position: absolute;
  color: white;
  margin: 0px;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 0px;
  width: 100%;
  height: 20%;
  left: 25%;
  bottom: 5%;
}

a:link, .button:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgba(255));
}
